* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0 auto;
  width: 80%;
}

body {
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  margin: 1.5em 0;
}

nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4em;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  font-size: 1em;
  color: hsl(219, 9%, 45%);
}

nav ul li {
    padding: 1em .5em;
}

aside ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  color: hsl(219, 9%, 45%);
}

nav ul li a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

nav ul li:hover {
  color: hsl(220, 13%, 13%);
  border-bottom: 2px solid hsl(26, 100%, 55%);
}
