* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0 auto;
  width: 70%;
}

body {
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
}

nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 4em;
  height: 3.5em;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 2em;
  font-size: 1em;
  color: hsl(219, 9%, 45%);
  height: 100%;
}

aside ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  height: 100%;
  gap: 2em;
  color: hsl(219, 9%, 45%);
}

nav ul li a, aside ul li a {
  display: flex;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  outline: none;
}

nav ul li a {
  height: 100%;
  padding-top: .3rem;
}

nav ul li a:hover {
  border-bottom: 2px solid hsl(26, 100%, 55%);
  color: hsl(220, 13%, 13%);
}

i {
  color: hsl(219, 9%, 45%);
  padding-top: .3rem;
}

i:hover {
  color: hsl(220, 13%, 13%);
}

aside img {
  width: 100%;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid hsl(220, 14%, 75%);
}

aside img:hover {
  border: 1.5px solid hsl(26, 100%, 55%);
}

aside ul > li {
  position: relative;
}

#count-badge {
  display: none;
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: hsl(26, 100%, 55%);
  color: white;
  border-radius: 10px;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: 700;
}

#cart-modal {
  display: none;
  position: absolute;
  top: 5rem;
  right: 5rem;
  width: max-content;
  height: max-content;
  background-color: white;
  z-index: 1;
  border-radius: 10px;
  box-shadow: hsl(219, 9%, 45%) 0px 0px 5px;
  
}

#cart-content {
  margin: 1em;
}

#cart-content h2 {
  color: hsl(220, 13%, 13%);
  font-size: 1em;
  margin-bottom: 1em;
}

#cart-content button {
  width: 100%;
}

.cart-details {
  margin: 1em 0;
  display: grid;
  grid-template-columns: 5em 1fr 1em;
  gap: 1em;
  align-items: center;
}

.cart-details figure {
  width: 4rem;
  height: 4rem;
}

.cart-details figure img {
  width: 100%;
  border-radius: 10px;
}

.cart-details button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.cart-product-details {
  color: hsl(219, 9%, 45%);
}

.cart-product-details p:last-of-type {
  display: inline-block;
}

.cart-product-details span {
  margin-left: .7rem;
  color: hsl(220, 13%, 13%);
  font-weight: 700;
}

hr {
  opacity: 0.3;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  height: calc(80vh - 3.5em);
}

.images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  padding: 3em;
}

.product-image img {
  width: 100%;
  border-radius: 10px;
}

.product-thumbnail {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.product-thumbnail img {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

img.product-thumbnail:hover {
  opacity: .5;
}

.product-detail {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
}

.product-detail h5 {
  font-weight: 400;
  text-transform: uppercase;
  color: hsl(219, 9%, 45%);
}

.product-detail h1 {
  font-size: 2.5em;
  color: hsl(220, 13%, 13%);
}

.product-detail p {
  color: hsl(219, 9%, 45%);
  line-height: 1.5;
}

.product-price {
  display: flex;
  flex-direction: column;
  gap: .8em;
}

.product-price article {
  display: flex;
  align-items: center;
  gap: 1.2em;
  height: 3vh;
}

.product-price article h2 {
  padding-top: 3px;
}

.product-price article p {
  color: white;
  background-color: hsl(220, 13%, 13%);
  font-size: 14px;
  padding: 1px 2px;
  border-radius: 2px;
}

.original-price {
  text-decoration: line-through;
}

.product-cart {
  display: flex;
  gap: .8em;
  height: 3rem;
  align-items: stretch;
}

.primary-button {
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-size: 1rem;
  font-weight: 700;
  background-color: hsl(26, 100%, 55%);
  border: none;
  color: hsl(220, 13%, 13%);
  padding: .5rem 3rem;
  border-radius: 5px;
  cursor: pointer;
}

.primary-button i {
  font-size: 12px;
  color: hsl(220, 13%, 13%);
  margin-right: .5rem;
}

.primary-button:hover {
  background-color: hsl(26, 100%, 60%);
}

.product-count {
  height: 100%;
  display: grid;
  grid-template-columns: 3em 3em 3em;
}

.product-count button {
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 1rem;
  background-color: hsl(223, 64%, 98%);
  color: hsl(26, 100%, 60%);
  border: none;
  cursor: pointer;
  font-weight: 700;
}

.product-count button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.product-count button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

button:hover {
  opacity: .5;
}

button:disabled {
  opacity: 1;
  cursor: not-allowed;
}

input[type="number"] {
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  border: none;
  padding: .8rem 0;
  background-color: hsl(223, 64%, 98%);
  color: hsl(220, 13%, 13%);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.light-box {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, .8);
}

.light-box-display {
  position: relative;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  padding: 10rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  align-content: center;
  justify-items: end;
}

.light-box-display > button {
  text-align: end;
}

.close-button {
  font-size: 2rem;
  font-weight: 700;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

.close-button:hover {
  color: hsl(26, 100%, 60%);
}

.product-image {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.product-thumbnail {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-self: center;
}
